@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');

/* Cabeçalho css */

header {
	width: 100%;
	height: 153px;
	background-color: #ff0066;
	display: grid;
	
}
.logo {
	margin: 0 auto;
	padding: 12.3px;
	cursor: pointer;
}

.bl_nav {
	position: absolute;
	width: 94%;
	height: inherit;
	box-sizing: border-box;
}

.bl_nav li {
	float: right;
	padding: 65px 2px;
	font-family: 'Delius Swash Caps', cursive;
  font-size: 1.3em;
  color: rgb(255, 249, 95);
  line-height: 1.037;
  text-align: center;
}

.bl_nav li span:hover {
	color: #ff0066;
	cursor: pointer;
	text-decoration: underline;
	background-color: #fff95f;
}