body {
    background-color: #333333;
    color: #cccccc;
}

header {
    position: fixed;
    height: 78px;
    left: 0%;
    right: 0%;
    top: 0px;

    background: #333333;
    box-shadow: 0px -1px 11px rgba(0, 0, 0, 0.75);
    z-index: 100;
}
.header_logo {
    /* header.logo */


    /*! position: absolute; */
    left: 0%;
    right: 0%;
    top: 23.08%;
    bottom: 44.87%;

    font-family: Buenard;
    font-style: bold;
    font-weight: bold;
    font-size: 25px;
    line-height: 100%;
    /* identical to box height, or 25px */

    /*! display: flex; */
    align-items: center;
    text-align: center;
    letter-spacing: -0.03em;

    color: #CCCCCC;

    /* Savil Shadows */

    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.25);
}

.header_desc {
    /* header.desc */

    position: absolute;
    width: 54px;
    height: 17px;
    left: calc(50% - 54px/2 - 0.5px);
    top: calc(50% - 40px/2 + 13.5px);

    font-family: Buenard;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 100%;
    text-decoration-line: underline;
    /* identical to box height, or 17px */

    display: flex;
    align-items: center;
    letter-spacing: -0.06em;

    color: #CCCCCC;

    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.25);
}

.ct_categorias {
    /* container.categories */
    
    
    /* Auto Layout */
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 0px 0px 0px;
    
    position: absolute;
    height: 642px;
    left: 0%;
    right: 0%;
    top: 78px;
    }
    
    .sombras {
        filter: drop-shadow(4px 4px 3px rgba(0, 0, 0, 0.25));
    }
    .grid_1 {
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
        margin: 0px 32px;
        }
    
    
        .overlay {
            opacity: 0;
            transition: .5s ease;
            font-size: 4vw;
            position: absolute;
            margin: -12vw 5vw;
          }
      
      .grid_1:hover .overlay {
        opacity: 1;
      }
    
      .wireframe {
        display: block;
        width: 100%;
        height: auto;
        margin: 16px 0;
      }

      .texto {
      }