# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Savil as WebDev\portfolio\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
